.terminal {
	background-color: black;
	color: white;
	font-family: monospace;
  width: 80%;
  margin: 0 auto;
}
.result {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.testcase {
	margin-top: 2.5%;
	margin-bottom : 2.5%;
	border: 1px solid black;
}
.pass {
	color: green;
}

.fail {
	color: red;
}
.hidden {
	display: none;
}

.visible {
	display: visible;
	-webkit-animation: fadein 2s; /* Chrome, Safari, Opera */
}
