code {
	background-color: black;
	color: white;
	font-family: monospace;
}
.two_column {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}
.result {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.testcase {
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	border: 1px solid black;
}
.pass {
	color: green;
}

.fail {
	color: red;
}
.hidden {
	display: none;
}

.visible {
	display: visible;
	-webkit-animation: fadein 2s; /* Chrome, Safari, Opera */
}
