<!doctype html5>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grade Report</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <style> {% include "code-style.css" %} </style>
    <style> {% include "main.css" %} </style>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>

            <span class="navbar-brand navbar-link normal">CS 241: Grade Report</a>
            <span class="navbar-brand navbar-link small">Grade Report</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="nav-list">

          </ul>
        </div>
    </div>
    </nav>

    <div id="error" class="hidden">
      <div class="col-md-2 col-sm-1 col-xs-0"></div>
    <div class="col-md-8 col-sm-10 col-xs-12">
    <div id="content">
      <div class="wrapper">
      <div class="pad"><div class="card">
      <div class="title"><h2 class="title-text">Please View online</h2></div>
    </div>

    <div class="container-fluid"><div class="row"><div class="content col-sm-11 .col-sm-offset-1">
        <p>Please visit your subversion in order to view this report properly https://subversion.ews.illinois.edu/svn/</p>
      </div></div></div>
      </div>
    </div>
    </div>
  </div>
</div>


    <div id="main">
    <div class="col-md-2 col-sm-1 col-xs-0"></div>
    <div class="col-md-8 col-sm-10 col-xs-12">
    <div id="content">
      <div class="wrapper">
      <div class="pad"><div class="card">
      <div class="title"><h2 class="title-text">Score</h2></div>

      <div class="container-fluid"><div class="row"><div class="content col-sm-11 .col-sm-offset-1">
        <p>For your autograde submitted at [<span id="timestamp">Today</span>] you received [<span id="total_score">0</span>/<span id="total_points">0</span>]</p>
      </div></div></div>
      </div></div>

      </div>

      <div class="wrapper">
      <div class="pad"><div class="card">
      <div class="title"><h2 class="title-text"> Disclaimer </h2> </div>
      <div class="container-fluid"><div class="row"><div class="content col-sm-11 .col-sm-offset-1">
      <p>If this is a pre-deadline autograde, this a preliminary measurement of your grade. If this is after the deadline, this is your final grade for the assignment. Your grade may change up or down based on the correctness of your program. We make every effort to ensure that our autograder is 'smart' enough to not count off for simple things like grammar but, in doing so, we may inadvertently allow for incorrect code to be counted as correct. If we have to change our script to better reflect the correctness of your program, we will run the script on every testcase and update every student's output to ensure fairness.</p>
      </div></div></div>
      </div></div>
      </div>



      <div class="wrapper">
      <div class="pad"><div class="card">
      <div class="title"><h2 class="title-text"> Academic Integrity </h2> </div>
      <div class="container-fluid"><div class="row"><div class="content col-sm-11 .col-sm-offset-1">
      <p>Cheating is taken very seriously in CS 241 and all cases of cheating will be brought to the University, your department, and your college. You should understand how academic integrity applies to Computer Science courses.</p>

      <p>If you are caught cheating on an assignment and it was your first offense then you will lose all points for the assignment and your final course grade will be lowered by one whole letter grade. If you are caught cheating on an assignment and it was your second offense then you will automatically fail the course.</p>

      <p>Rule of Thumb - If at any point you submit an assignment that does not reflect your understanding of the material, then you have probably cheated.</p>

      <p>Additionally, you may not publish your solutions or leave them in 'plain view' thereby leaving your programs open to copying, which constitutes cheating. If your code or a variation of it is found publicly accessible, then you will receive a letter grade reduction for each assignment. For example, if we find your code on GitHub for one MP then you will receive a letter grade reduction. 2 letter grades for 2 assignments and so on. If you are confused on what it means to be 'publicly accessible', then do not put your code anywhere besides https://subversion.ews.illinois.edu and take measures to ensure that nobody can copy your code, so that you are not charged with a violation.</p>
      </div></div></div>
      </div></div>
      </div>

      <div class="wrapper" style="padding-bottom:40px">
      <div class="pad"><div class="card">
      <div class="title"><h2 class="title-text"> Test Cases </h2> </div>
      <div class="container-fluid"><div class="row"><div class="content col-sm-11 .col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4">
            <h3 style="text-align:left">Revision: <span id="revision"><a href="./?p=5" class="fancy-link">5</a> </span></h3>
          </div>
          <div class="col-sm-8">
          <h3 style="text-align:right">Timestamp: <span id="timestamp">1738</span> </h3>
        </div>
      </div>

        <h4 style="left:0">SHA1 checksum(s):</h4>

        <div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code id="sha1">
        </code></pre></div></div>

        <div id="tests" class="container-fluid">
        </div>
      </div></div></div>
      </div></div>
      </div>
    </div>
  </div>

    <script type="text/javascript">{% include "main.js" %}</script>
  </body>
</html>
