<div class="row">
    <div class="small-12 medium-12 large-12 large-centered columns">
      <h1>Assignment Name Goes HERE</h1>
      <!-- Navigation -->
      <nav>
    		<button onclick="incrementResults(-1)">Previous Result</button>
    		<select id="selector" onchange="changeResults(this.value)" style = "width: 60%">
    			<option value="Chart" selected="selected">Chart</option>
    		</select>
    		<button onclick="incrementResults(1)">Next Result</button>
    	</nav>
      <!-- Disclaimer -->
      <div id = "disclaimer">
    		<h2><span style="color:red;">Disclaimer:</span></h2>
    		This autograder is a preliminary assessment of your program's correctness.
        Your grade may change UP OR DOWN based on the CORRECTNESS OF YOUR PROGRAM.
        We make every effort to ensure that our autograder is 'smart' enough to not count off for simple things like grammar but, in doing so, we may inadvertently allow for incorrect code to be counted as correct.
        If we have to change our script to better reflect the CORRECTNESS OF YOUR PROGRAM, we will run the script on EVERY TESTCASE and update EVERY STUDENT'S AUTOGRADER OUTPUT to ensure fairness to all students.
        Thanks for understanding!
    		<br/><br/>
    		<span style="color:red;">Academic Integrity:</span>
    		A reminder the University of Illinois and the department of computer science has a <a href = "https://cs.illinois.edu/current-students/undergraduates/policies-and-procedures-0/honor-code-and-academic-integrity" target="_blank"> policy </a>
        about what is allowed regarding collaboration and publishing of solutions (i.e.,
        your score should be based on your own work and you may not publish your solutions or leave them in 'plain view').
        For this MP, the code you submit must be your own work (i.e., entirely your own work product).
        <br/><br/>
    		<span style="color:green;">Rule of Thumb:</span>
        If at any point you can not reproduce the code you have submitted, then you have cheated.
        We run an in house plagiarism detector (not MOSS) and we have caught students.
    		<br/><br/>
    		<h4>- CS 241 Staff</h4>
    	</div>
      <!-- Results -->
      <section id = "results">
    		<div id = "carousel">
    			<h2>Results</h2>
          <div></div>
    		</div>
    	</section>
    </div>
</div>
